<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Details Storage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Details <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createProject">CreateProject</a>
            </li>
        </ul>

    </div>
</nav>

<br><br>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div th:if="${details.isEmpty()}" style="color: red">
                There're no Details
                <br><br><br><br>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-12" method="POST" th:action="@{/}" th:object="${detail}">
            <div class="form-group " style="width:40%;">
                <input type="text" class="form-control" placeholder="Detail Name (required)" th:field="*{detailName}"/>
                <span style="color:red" class="validationError"
                      th:if="${#fields.hasErrors('detailName')}"
                      th:errors="*{detailName}">
                </span>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="text" class="form-control" placeholder="Type" th:field="*{type}"/>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="text" class="form-control" placeholder="Production" th:field="*{production}"/>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="number" class="form-control" placeholder="Quantity (required)"
                       th:field="*{quantityOfAll}"/>
                <span style="color:red" class="validationError"
                      th:if="${#fields.hasErrors('quantityOfAll')}"
                      th:errors="*{quantityOfAll}">
                </span>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="number" step="0.01" class="form-control" placeholder="Price in $ (required)" th:field="*{price}"/>
                <span style="color:red" class="validationError"
                      th:if="${#fields.hasErrors('price')}"
                      th:errors="*{price}">
                </span>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="text" class="form-control" placeholder="Storage (required)" th:field="*{storage}"/>
                <span style="color:red" class="validationError"
                      th:if="${#fields.hasErrors('storage')}"
                      th:errors="*{storage}">
                </span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
</div>

<br><br>

<div th:if="${!details.isEmpty()}">
    <table class="table table-bordered">
        <div th:each="detail: ${details}">


            <table style="border-style: none" class="table table-bordered">
                <tbody style="border-style: none">
                <tr style="border-style: none">
                    <td style="border-style: none">

                    </td>
                </tr>
                </tbody>


                <tbody>
                <tr>
                    <td>
                        <b>Detail name:</b>
                        <br>
                        <span th:if="${detail.detailName != null }" th:text="${detail.detailName}"/>
                    </td>

                    <td>
                        <b>Type:</b>
                        <br>
                        <span th:if="${detail.type != null }" th:text="${detail.type}"/>
                    </td>

                    <td>
                        <b>Production:</b>
                        <br>
                        <span th:if="${detail.production != null }" th:text="${detail.production}"/>
                    </td>

                    <td>
                        <b>Quantity of all:</b>
                        <span style="color:forestgreen" th:if="${detail.quantityOfAll != null }"
                              th:text="${detail.quantityOfAll}"/>
                        <form style="width: min-content" class="form-group" th:action="@{/}" method="POST">
                            <input style="width:140px" type="number" placeholder="Quantity" name="quantity"/>
                            <input type="hidden" th:value="${detail.id}" name="idDetail"/>
                            <span style="color:red"
                                  th:if="${errorAddQuantityToDetail!=null && detail.id.equals(errorIdAddQuantityToDetail)}">
                            <div th:text="${errorAddQuantityToDetail}"/>
                        </span>
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm">Add</button>
                        </form>
                    </td>

                    <td>
                        <b>Quantity of<br>available:</b>
                        <span style="color: orange" th:if="${detail.quantityOfAvailable != null }"
                              th:text="${detail.quantityOfAvailable}"/>
                    </td>

                    <td>
                        <b>Price:</b>
                        <br>
                        <span th:if="${detail.price != null }" th:text="${detail.price + ' $'}"/>
                    </td>

                    <td>
                        <b>Storage:</b>
                        <br>
                        <span th:if="${detail.storage != null }" th:text="${detail.storage}"/>
                    </td>


                    <td rowspan="2">
                        <div th:if="${detail.getDetailsInfo().isEmpty()}">
                            <form th:action="@{/}" method="POST">
                                <input type="hidden" th:value="${detail.id}" name="idDetailFor_AddProjectInDetail"/>
                                <button type="submit" class="btn btn-primary btn-sm">Add project</button>
                            </form>
                            <br>
                            <b>Projects:</b>
                            <br>
                            <span style="color: red">
                        There're no projects
                        <br><br><br><br><br>
                    </span>
                        </div>

                        <form th:if="${!detail.getDetailsInfo().isEmpty()}" th:action="@{/}" method="POST">
                            <input type="hidden" th:value="${detail.id}" name="idDetailFor_AddProjectInDetail"/>
                            <button type="submit" class="btn btn-primary btn-sm">Add project</button>
                        </form>
                        <table th:if="${!detail.getDetailsInfo().isEmpty()}" style="border-style: none"
                               class="table table-bordered">
                            <tbody style="border-style: none">
                            <tr style="border-style: none">
                                <td style="border-style: none">

                                </td>
                                <td style="border-style: none">
                                    <b>Projects:</b>
                                    <table style="border-width: 2px; border-color: skyblue"
                                           class="table table-bordered ">
                                        <tbody>
                                        <tr style="border-width: 2px; border-color: skyblue"
                                            th:each="detailInfo: ${detail.getDetailsInfo()}">
                                            <td style="border-width: 2px; border-color: skyblue">
                                                <b>Quantity in use:</b>
                                                <span style="color:red" th:text="${detailInfo.quantityDetailsUsed}"/>
                                                <form style="width: min-content;" class="form-group" th:action="@{/}"
                                                      method="POST">
                                                    <input style="width:140px" type="number" placeholder="Quantity"
                                                           name="quantity"/>
                                                    <input type="hidden" th:value="${detailInfo.id.detailId}"
                                                           name="idDetail"/>
                                                    <input type="hidden" th:value="${detailInfo.id.projectId}"
                                                           name="idProject"/>
                                                    <span style="color:red"
                                                          th:if="${errorAddQuantityOfDetailInProject_quantityIsNull!=null
                                      && detailInfo.id.detailId.equals(errorAddQuantityOfDetailInProject_idDetail)
                                      && detailInfo.id.projectId.equals(errorAddQuantityOfDetailInProject_idProject)}">
                                    <div th:text="${errorAddQuantityOfDetailInProject_quantityIsNull}"/>
                                </span>
                                                    <span style="color:red"
                                                          th:if="${errorAddQuantityOfDetailInProject_quantityIsNotCorrect!=null
                                      && detailInfo.id.detailId.equals(errorAddQuantityOfDetailInProject_idDetail)
                                      && detailInfo.id.projectId.equals(errorAddQuantityOfDetailInProject_idProject)}">
                                    <div th:text="${errorAddQuantityOfDetailInProject_quantityIsNotCorrect}"/>
                                </span>

                                                    <button type="submit" name="button" value="add"
                                                            class="btn btn-primary btn-sm">Add
                                                    </button>
                                                    <button type="submit" name="button" value="subtract"
                                                            class="btn btn-primary btn-sm">Subtract
                                                    </button>
                                                </form>
                                            </td>

                                            <td style="border-width: 2px; border-color: skyblue">
                                                <b>Project Name:</b>
                                                <br>
                                                <span th:if="${detailInfo.project.projectName != null }"
                                                      th:text="${detailInfo.project.projectName}"/>
                                            </td>

                                            <td style="border-width: 2px; border-color: skyblue">
                                                <b>Type:</b>
                                                <br>
                                                <span th:if="${detailInfo.project.type != null }"
                                                      th:text="${detailInfo.project.type}"/>
                                            </td>

                                            <td style="border-width: 2px; border-color: skyblue">
                                                <b>Production:</b>
                                                <br>
                                                <span th:if="${detailInfo.project.quantity != null }"
                                                      th:text="${detailInfo.project.quantity}"/>
                                            </td>

                                            <td style="border-width: 2px; border-color: skyblue">
                                                <b>Quantity of all:</b>
                                                <br>
                                                <span th:if="${detailInfo.project.storage != null }"
                                                      th:text="${detailInfo.project.storage}"/>
                                            </td>


                                            <td style="border-width: 2px; border-color: skyblue">
                                                <form th:action="@{/}" method="POST">
                                                    <input type="hidden" th:value="${detailInfo.getId().getProjectId()}"
                                                           name="idProject"/>
                                                    <input type="hidden" th:value="${detailInfo.getId().getDetailId()}"
                                                           name="idDetail"/>
                                                    <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td>
                        <form th:action="@{/}" method="POST">
                            <input type="hidden" th:value="${detail.id}" name="idDetailForEdit"/>
                            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                        </form>
                        <br>
                        <form th:action="@{/}" method="POST">
                            <input type="hidden" th:value="${detail.id}" name="idDetailForDelete"/>
                            <button type="submit" class="btn btn-primary btn-sm">Delete detail</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td style="border-style: none" colspan="4"></td>
                </tr>

                </tr>
                </tbody>
            </table>
        </div>
    </table>
</div>


</body>
</html>