<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Details Storage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Details <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createProject">CreateProject</a>
            </li>
        </ul>

    </div>
</nav>

<br><br>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div th:if="${details.isEmpty()}" style="color: red">
                There're no Details
                <br><br><br><br>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-12" method="POST" th:action="@{/}" th:object="${detail}">

            <div class="form-group " style="width:40%;">
                <input type="text" class="form-control" placeholder="Detail Name (required)" th:field="*{detailName}"/>
                <span style="color:red" class="validationError"
                      th:if="${#fields.hasErrors('detailName')}"
                      th:errors="*{detailName}">
                </span>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="text" class="form-control" placeholder="Type" th:field="*{type}"/>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="text" class="form-control" placeholder="Production" th:field="*{production}"/>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="number" class="form-control" placeholder="Quantity (required)" th:field="*{quantityOfAll}"/>
                <span style="color:red" class="validationError"
                      th:if="${#fields.hasErrors('quantityOfAll')}"
                      th:errors="*{quantityOfAll}">
                </span>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="number" class="form-control" placeholder="Price in $" th:field="*{price}"/>
            </div>

            <div class="form-group " style="width:40%;">
                <input type="text" class="form-control" placeholder="Storage (required)" th:field="*{storage}"/>
                <span style="color:red" class="validationError"
                      th:if="${#fields.hasErrors('storage')}"
                      th:errors="*{storage}">
                </span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
</div>

<br><br>


<div th:if="${!details.isEmpty()}">
    <table class="table table-bordered ">
        <thead class="thead-light">
        <tr>
            <th scope="col">Detail Name</th>
            <th scope="col">Type</th>
            <th scope="col">Production</th>
            <th scope="col">Quantity</th>
            <th scope="col">Quantity Of Available</th>
            <th scope="col">Price</th>
            <th scope="col">Storage</th>
            <th scope="col">Projects</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail: ${details}">
            <td th:if="${detail.detailName != null }" th:text="${detail.detailName}"/>
            <td th:if="${detail.detailName == null }"/>

            <td th:if="${detail.type != null }" th:text="${detail.type}"/>
            <td th:if="${detail.type == null }"/>

            <td th:if="${detail.production != null }" th:text="${detail.production}"/>
            <td th:if="${detail.production == null }"/>

            <td>
                <span th:text="${detail.quantityOfAll}"/>
                    <form class="form-group" th:action="@{/}" method="POST">
                        <input type="number" placeholder="Quantity" name="quantity"/>
                        <input type="hidden" th:value="${detail.id}" name="idDetail"/>
                        <span style="color:red" th:if="${error!=null && detail.id.equals(errorId)}">
                            <div th:text="${error}"/>
                        </span>
                        <button type="submit" class="btn btn-primary btn-sm">Add</button>
                    </form>
            </td>

            <td style="color: forestgreen" th:if="${detail.quantityOfAvailable != null }" th:text="${detail.quantityOfAvailable}"/>
            <td th:if="${detail.quantityOfAvailable == null }"/>

            <td th:if="${detail.price != null }" th:text="${detail.price}+'$'"/>
            <td th:if="${detail.price == null }"/>

            <td th:if="${detail.storage != null }" th:text="${detail.storage}"/>
            <td th:if="${detail.storage == null }"/>
            <td>
                <span style="color: red" th:if="${detail.getDetailsInfo().isEmpty()}">There're no projects</span>
                <table class="table table-bordered " th:if="${!detail.getDetailsInfo().isEmpty()}">
                    <tbody>
                    <tr th:each="detailInfo: ${detail.getDetailsInfo()}" >
                        <td>
                            Quantity:
                            <br>
                            <span style="color:red" th:text="${detailInfo.quantityDetailsUsed}"/>
                        </td>
                        <td th:if="${detailInfo.project.projectName != null }"
                            th:text="${detailInfo.project.projectName}"/>
                        <td th:if="${detailInfo.project.projectName == null }"/>

                        <td th:if="${detailInfo.project.type != null }" th:text="${detailInfo.project.type}"/>
                        <td th:if="${detailInfo.project.type == null }"/>

                        <td th:if="${detailInfo.project.quantity != null }"
                            th:text="${detailInfo.project.quantity}"/>
                        <td th:if="${detailInfo.project.quantity == null }"/>

                        <td th:if="${detailInfo.project.storage != null }"
                            th:text="${detailInfo.project.storage}"/>
                        <td th:if="${detailInfo.project.storage == null }"/>
                        <td>
                            <form th:action="@{/}" method="POST">
                                <input type="hidden" th:value="${detailInfo.getId().getProjectId()}" name="idProject"/>
                                <input type="hidden" th:value="${detailInfo.getId().getDetailId()}" name="idDetail"/>
                                <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <form th:action="@{/}" method="POST">
                    <input type="hidden" th:value="${detail.getId()}" name="idDetail"/>
                    <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>